.sectionContent {
    padding: 12px;
}

.sectionContent input[type='checkbox'] {
    margin-right: 12px;
 }

.partWrapper {
    font-size: 14px;
    margin-bottom: 16px;
}

.part {
    margin-bottom: 24px;
}

.partTitle {
    display: inline-block;
    text-transform: uppercase;
}

 .articleWrapper {
    margin: 26px;
    font-size: 12px;
 }

.articleTitle {
    display: inline-block;
}

.paragraphWrapper {
    margin: 12px 0px 12px 32px;
}

.paragraph {
    display:grid;
    grid-template-columns: 24px auto;
}

.paragraphContent {
    display: inline-block;
    margin: 0px
}

.paragraphHints{
    display: block
}

.subparagraphWrapper {
    margin: 8px 0px 16px 24px;
}

.subParagraph {
    display:grid;
    grid-template-columns: 24px auto 24px;
}

.subparagraphContent {
    margin: 0px
}

.editBar {
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    margin: 8px 0px 0px 24px;
    justify-items: center;
    align-items: center;
}

.editBar > button {
    justify-self: stretch;
}

.editBar > svg {
    height:16px;
    width: 16px;
    cursor: pointer;
}

.editBar .disabled {
    fill: #999999;
    cursor: auto;
}

.deleteIcon {
    fill: #AC0000;
}

textarea {
    font-size: 12px;
}

input {
    display: inline-block;
}