/* -----WRAPPERS----- */ 
.divBrowser {
  margin: 8px
}

.divBrowser ul  {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.divisionWrapper {
  margin-bottom: 8px;
  padding: 8px
}

.browserItem:hover {
  background-color: #f3f3f3;
}

.division {
  display: grid;
  grid-template-columns: 24px 32px auto 16px;
  margin-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase ;
}

.section {
  display: grid;
  margin-left: 24px;
  grid-template-columns: 32px 54px auto 16px;
  font-size: 12px
}

.addSection {
  display: grid;
  margin-left: 54px;
  grid-template-columns: 48px auto 20px;
  column-gap: 4px;
  font-size: 12px
}

.addSection input {
  box-sizing: border-box;
  border: 1px solid #999999;
  margin: 0px;
  padding: 4px;
  font-size: 11px
}
.addButton {
  padding:0px;
}


/* -----DYNAMIC CLASSES----- */ 
.expanded {
  border: 1px solid #999999
}

.arrow-up {
  margin-top: 8px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-bottom: 6px solid #666;
}

.arrow-up:hover {
  border-bottom: 6px solid black;
}

.arrow-down {
  margin-top: 8px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #666;
}

.arrow-down:hover {
  border-top: 6px solid black;
}