.divBrowser {
  border: 1px solid red;
  margin: 5px;
}

.divBrowser ul  {
  list-style-type: none;
  padding: 0px;
}

.divisionWrapper {
  margin-bottom: 8px;
}

.sections {
  margin: 0px 0px 0px 24px;
}

.division {
  font-size: 16px
}

.section {
  font-size: 12px
}

.browserItem {
  display: grid;
  grid-template-columns: 24px auto 16px;
}

.browserItem:hover {
  background-color: #f3f3f3;
}


.expanded {
  border: 1px solid #999999
}

.arrow-up {
  margin-top: 8px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-bottom: 6px solid #666;
}

.arrow-up:hover {
  border-bottom: 6px solid black;
}

.arrow-down {
  margin-top: 8px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 6px solid #666;
}

.arrow-down:hover {
  border-top: 6px solid black;
}