main {
  display: grid;
  grid-template-columns: 300px auto 240px;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 36px
}

.sectionContent {
  border: 1px solid green
}

aside {
  border: 1px solid blue
}

.checkbox-division {
  height: 16px;
  width: 16px;
}

.checkbox-section {
  height: 12px;
  width: 12px;
}

.inactive {
  color: #999999;
}

.hidden {
  display: none;
}

