.wrapper {
  display: grid;
  grid-template-columns: 320px auto 240px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.divBrowser {
  border: 1px solid red
}

.divBrowser ul  {
  list-style-type: none;
}

.sectionContent {
  border: 1px solid green
}

.notes {
  border: 1px solid blue
}

.checkbox-division {
  height: 16px;
  width: 16px;
}

.checkbox-section {
  height: 12px;
  width: 12px;
}

.division {
  font-size: 16px
}

.section {
  font-size: 12px
}
