main {
  display: grid;
  grid-template-columns: 400px auto 240px;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 36px
}

.divBrowser {
  border: 1px solid red
}

.divBrowser ul  {
  list-style-type: none;
  padding: 0px;
}

.sections {
  margin: 0px 0px 10px 24px;
}

.browserItem:hover {
  background-color: #f3f3f3;
}

.sectionContent {
  border: 1px solid green
}

aside {
  border: 1px solid blue
}

.checkbox-division {
  height: 16px;
  width: 16px;
}

.checkbox-section {
  height: 12px;
  width: 12px;
}

.division {
  font-size: 16px
}

.section {
  font-size: 12px
}

.inactive {
  color: #999999;
}


